<!doctype html>
<html>
  <head>
    <title>Thank You</title>
  </head>
  <body>
    <h1>Correct!</h1>
    <p>You are logged in.</p>
      <header>

        <nav class="navbar-default" style="border-radius:0;"  id="navbar">
            <div class="container-fluid">
               <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{url_for('index')}}">HOMEPAGE</a>

                    </ul>
                </div>
            </div>
        </nav>
  </body>
</html>